.row {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-inline: 10%;
  }
  
  @media (min-width: 768px) {
    .row {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    .row {
      grid-template-columns: repeat(2, 1fr);
    } 
  }

  @media (min-width: 1240px) {
    .row {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  