:root {
    --white: #fff;
    --purple-light: #8023f9;
    --purple-dark: #5405bd;
    --purple-darker: #180136;
    --font-size--label--xs: 0.75rem;
    --font-size--label--md: 0.875rem;
    --font-size--label--xxl: 1.20rem;
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
  
.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 .App-header {
  font-size: calc(2.0833333333vw + 6px);
}

.App-link {
  color: #61dafb;
}

